{{if eq .chezmoi.os "linux" -}}
#!/bin/sh
install_arch() {
  echo "Detected Arch based system"
  sudo pacman -Syu --noconfirm
  sudo pacman -S --noconfirm neovim starship nodejs zoxide fish bat ripgrep fzf direnv luarocks npm wl-clipboard jq
}

detect_distro_and_install() {
  if [ -f /etc/os-release ]; then
    . /etc/os-release
    case "$ID" in
    ubuntu | debian)
      install_debian
      ;;
    fedora)
      install_fedora
      ;;
    arch)
      install_arch
      ;;
    *)
      echo "Unsupported distribution: $ID"
      exit 1
      ;;
    esac
  else
    echo "Cannot detect the operating system."
    exit 1
  fi
}

detect_distro_and_install
{{end -}}
